body {
    font-family: 'Georgia', serif;
    background-color: #f6f2d5; /* Achtergrondkleur instellen */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #000;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Lichte transparantie om de achtergrond door te laten */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
    text-align: center; /* Zorg ervoor dat de inhoud in het midden staat */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

#searchSection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#filterSection {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center;
    text-align: center;
}

label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

#filterDropdown {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    appearance: none;
}

#filterDropdown:hover {
    border-color: #007BFF;
}

#filterDropdown:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007BFF;
}

#newsContainer, #trendingContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolommen */
    gap: 20px;
    margin-top: 20px;
}

.newsArticle, .trendingArticle {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

.newsArticle img, .trendingArticle img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    filter: grayscale(100%);
}

.newsArticle h2, .trendingArticle h2 {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.newsArticle p, .trendingArticle p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.newsArticle p.date, .trendingArticle p.date {
    font-size: 12px;
    color: #888;
}

.newsArticle p.author, .trendingArticle p.author {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.newsArticle p.source, .trendingArticle p.source {
    font-size: 14px;
    font-style: italic;
    color: #333;
}

.newsArticle a, .trendingArticle a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.newsArticle a:hover, .trendingArticle a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    #searchSection {
         align-items: stretch;
        margin-bottom: 10px;
    }
    #searchButton {
        margin-left: 10px;
    }

    input[type="text"] {
        width: 100%;
        margin-right: 0;
    }

    #filterSection {
  
        margin-bottom: 10px;
    }

    #filterDropdown {
        width: 20%;
    }

    #newsContainer, #trendingContainer {
        grid-template-columns: repeat(1, 1fr); /* 1 kolom op kleinere schermen */
        gap: 10px;
    }

    .newsArticle, .trendingArticle {
        padding: 10px;
    }

    .newsArticle img, .trendingArticle img {
        margin-bottom: 5px;
    }

    .newsArticle h2, .trendingArticle h2 {
        font-size: 18px;
    }

    .newsArticle p, .trendingArticle p {
        font-size: 12px;
    }

    .newsArticle p.date, .trendingArticle p.date,
    .newsArticle p.author, .trendingArticle p.author,
    .newsArticle p.source, .trendingArticle p.source {
        font-size: 12px;
    }
}
